#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input {
  font-size: 1.5rem;
  padding: 0.5rem;
  border: none;
  border: 1px solid #ccc;
  background: transparent;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  transition: .3s all ease-in-out;
}

input:focus {
  outline: none;
  border-radius: 10px;
}

.inputs {
  display: flex;
  gap: 10px;
}